bs4
requests
langchain
bitsandbytes 
accelerate 
transformers
datasets 
loralib 
sentencepiece
pypdf
sentence_transformers
unstructured
tokenizers
xformers
pinecone
langchain-community
Flask
langchain-pinecone
langchain-ollama